body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

header {
    display: flex;
    background-color: #ff7830e0;
    
}

.ilog {
    width: 90px;
    height: 30px;
    margin: 10px;
}